@font-face {
    font-family: ProductSans;
    src: url("Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

* {
    font-family: Roboto;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ProductSans;
    user-select: none;
}

#headerTitle {
    color: white;
}

#headerContent {
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
}

#splashPanel {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2979FF;
}

#splashContent {
    position: relative;
    top: 20%;
    text-align: center;
}

#headerPanel {
    background: #2979FF;
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#headerFilling {
    display: flex;
}

input, button {
    background: none;
    border: none;
}

input, button:focus {
    outline: none;
}

#contentPanel {
    margin: auto;
    padding: 30px 50px;
    border-radius: 30px;
    width: 80%;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
}

button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.filling {
    animation: fill 0.07s linear forwards;
}

.unfilling {
    animation: unfill 0.07s linear forwards;
}

@keyframes fill {
    from {
        background-color: none;
    }
    to {
        background-color: rgba(50, 50, 50, 0.3);
    }
}

@keyframes unfill {
    from {
        background-color: rgba(50, 50, 50, 0.3);
    }
    to {
        background-color: none;
    }
}