@font-face {
    font-family: ProductSans;
    src: url("Product Sans Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

* {
    font-family: Roboto;
}

body, html {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ProductSans;
}

.panels {
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.3);
}

#menuPanel {
    position: fixed;
    height: 100%;
    width: 0;
    background-color: white;
    overflow: hidden;
}

#menuList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItems {
    padding: 10px 30px;
    cursor: pointer;
}

.iconCells {
    padding: 5px;
}

.expanding {
    animation: expand 0.15s ease-out forwards;
}

@keyframes expand {
    from {
        width: 0;
    }
    to {
        width: 15%;
    }
}

.shrinking {
    animation: shrink 0.15s ease-out forwards;
}

@keyframes shrink {
    from {
        width: 15%;
    }
    to {
        width: 0;
    }
}

#headerPanel {
    padding: 20px;
    padding-bottom: 30px;
    background: #2962FF;    
}

#menuButton, #fakeMenuButton {
    background-image: url("baseline-menu-24px.svg");
}

#menuPanelContents {
    display: none;
}

#title {
    color: white;
    font-weight: normal;
    user-select: none;
}

#searchBar {
    background: white;
    border-radius: 50px;
    padding: 2px;
    width: 35%;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
}

input, button {
    background: none;
    border: none;
}

input, button:focus {
    outline: none;
}

#outputPanel {
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 30px;
    width: 80%;
}

#searchBox {
    font-size: 16px;
    height: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

#searchButton {
    background-image: url("baseline-search-24px.svg");
    float: right;
}

.filling {
    animation: fill 0.1s linear forwards;
}

.unfilling {
    animation: unfill 0.1s linear forwards;
}

@keyframes fill {
    from {
        background-color: none;
    }
    to {
        background-color: rgba(50, 50, 50, 0.3);
    }
}

@keyframes unfill {
    from {
        background-color: rgba(50, 50, 50, 0.3);
    }
    to {
        background-color: none;
    }
}

.floating {
    animation: float 0.1s linear forwards;
}

.resting {
    animation: rest 0.1s linear forwards;
}

@keyframes float {
    from {
        box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
    }
    to {
        box-shadow: 0px 7px 12px rgba(50, 50, 50, 0.3);
    }
}

@keyframes rest {
    from {
        box-shadow: 0px 7px 12px rgba(50, 50, 50, 0.3);
    }
    to {
        box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
    }
}